<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @invoice_food_item.uid %>
</p>

<%= link_to 'Edit', edit_invoice_food_item_path(@invoice_food_item) %> |
<%= link_to 'Back', invoice_food_items_path %>
