<div class="br-pageheader mg-30">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
        
        <span class="breadcrumb-item active"><h4>Bonus</h4></span>
      </nav>
    </div><!-- br-pageheader -->
<div class="br-pagebody mg-b-30">
  <div class="br-section-wrapper">
<div class="headers mg-b-20">
    <div class="left-content">
    </div>

    <div class="text-right">
        

    </div>

</div>


<table id="datatable1" class="table display responsive nowrap">


  <thead>
    <tr>
      
      <th>Client</th>
      <th>Nombre de plat</th>
      <th>Nombre de bonus</th>
      
    </tr>
  </thead>

  <tbody class="gifts">
    <%= render 'index' %>
  </tbody>
</table>
</div>
</div>
