<h1>Editing Invoice Produit Item</h1>

<%= render 'form', invoice_produit_item: @invoice_produit_item %>

<%= link_to 'Show', @invoice_produit_item %> |
<%= link_to 'Back', invoice_produit_items_path %>
