<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @invoice_produit_item.uid %>
</p>

<%= link_to 'Edit', edit_invoice_produit_item_path(@invoice_produit_item) %> |
<%= link_to 'Back', invoice_produit_items_path %>
